<h1>Here's all the things to do:</h1>
<form method="post" action="/">
  <label>New Todo
    <input type="text"  name="task"></input>
  </label>
  <input type="submit" value="Create Todo"></input>
</form>
