<form method="POST" action="/todos">
<label> New Todo:
	<input name="todo" type="text"/>
</label>

<input type="submit"/>
</form>

<h1>Here's all the things to do:</h1>

<% @todos.each do |note| %>
	<li style="list-style:none;margin-bottom:10px;margin-left: 5px;"> <%= note.todo %> </li>
<% end %> 